ion-content {
  --background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

/* CONTENEDOR */
.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TARJETA */
.login-card {
  width: 90%;
  max-width: 350px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* TÍTULOS */
.title {
  font-size: 28px;
  font-weight: bold;
}

.title span {
  color: #38bdf8;
}

.subtitle {
  font-size: 14px;
  color: #cbd5f5;
  margin-bottom: 25px;
}

/* INPUTS */
.input-item {
  margin-bottom: 15px;
  border-radius: 12px;
  --background: rgba(255, 255, 255, 0.08);
  padding: 5px;
}

/* BOTÓN */
.btn-login {
  margin-top: 15px;
  --background: linear-gradient(90deg, #38bdf8, #0ea5e9);
  --border-radius: 12px;
  --box-shadow: 0 4px 15px rgba(56, 189, 248, 0.4);
  font-weight: bold;
}

/* REGISTRO */
.register-text {
  margin-top: 20px;
  font-size: 13px;
  color: #cbd5f5;
}

.register-link {
  color: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}