/* FONDO */
ion-content {
  --background: linear-gradient(135deg, #f1f5f9, #e2e8f0);
  color: #1e293b;
}

/* CONTENEDOR */
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  width: 90%;
  max-width: 400px;
  padding: 28px;
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* TITULOS */
.title {
  font-size: 26px;
  font-weight: bold;
  color: #1e293b;
}

.title span {
  color: #3b82f6;
}

.subtitle {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 20px;
}

/* INPUTS */
.input-item {
  margin-bottom: 12px;
  border-radius: 12px;
  --background: #f1f5f9;
  border: 1px solid #e2e8f0;
  transition: 0.2s;
}

.input-item:focus-within {
  border: 1px solid #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.15);
}

/* LABEL FLOATING */
ion-label {
  color: #64748b !important;
}

/* INPUT TEXTO */
ion-input {
  color: #1e293b;
}

/* ERRORES */
.error {
  color: #ef4444;
  font-size: 12px;
  margin-bottom: 6px;
  text-align: left;
  padding-left: 5px;
}

/* BOTÓN */
.btn-primary {
  margin-top: 15px;
  --background: #3b82f6;
  --border-radius: 12px;
  font-weight: 600;
}

.btn-primary:hover {
  --background: #2563eb;
}

/* ANIMACIÓN */
.card {
  animation: fadeInUp 0.4s ease;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}