<ion-content [fullscreen]="true">

  <div class="container">

    <div class="card">

      <h1 class="title">Horarios</h1>
      <p class="subtitle">Selecciona una hora</p>

      <div class="grid">

        <ion-button 
          *ngFor="let time of timeSlots"
          (click)="selectTime(time)"
          [disabled]="isDisabled(time)"
          [ngClass]="{
            'reserved': isReserved(time),
            'past': isPast(time),
            'selected': selectedTime === time
          }">

          <!-- 🔴 OCUPADO -->
          <span *ngIf="isReserved(time)">
            Ocupado
          </span>

          <!-- ⚫ NO DISPONIBLE -->
          <span *ngIf="!isReserved(time) && isPast(time)">
            No disp.
          </span>

          <!-- 🟢 DISPONIBLE -->
          <span *ngIf="!isReserved(time) && !isPast(time)">
            {{ time }}
          </span>

        </ion-button>

      </div>

    </div>

  </div>

</ion-content>