ion-content {
  --background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 350px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.5);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

ion-button {
  --background: linear-gradient(90deg, #38bdf8, #0ea5e9);
  border-radius: 12px;
  font-weight: bold;
}