<ion-content [fullscreen]="true">

  <div class="container">

    <div class="card">

      <h1 class="title">
        Reservas<span>Ya</span>
      </h1>

      <p class="subtitle">
        Selecciona una fecha
      </p>

      <!-- CALENDARIO -->
      <ion-item lines="none" class="input-item">
        <ion-datetime 
          presentation="date"
          [min]="minDate"
          [max]="maxDate"
          [(ngModel)]="selectedDate">
        </ion-datetime>
      </ion-item>

      <!-- BOTÓN -->
      <ion-button 
        expand="block" 
        class="btn-primary"
        [disabled]="!selectedDate"
        (click)="continue()">

        Continuar

      </ion-button>

    </div>

  </div>

</ion-content>