/* FONDO GENERAL */
ion-content {
  --background: linear-gradient(135deg, #f1f5f9, #e2e8f0);
  font-family: 'Segoe UI', sans-serif;
}

/* CONTENEDOR */
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD PRINCIPAL */
.card {
  width: 90%;
  max-width: 420px;
  padding: 25px;
  border-radius: 20px;
  background: #ffffff;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* TITULO */
.title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #1e293b;
}

.title span {
  color: #3b82f6;
}

/* SUBTITULO */
.subtitle {
  text-align: center;
  color: #64748b;
  font-size: 14px;
  margin-bottom: 20px;
}

/* INPUT */
.input-item {
  --background: #f8fafc;
  --color: #1e293b;

  border-radius: 12px;
  margin-bottom: 15px;

  border: 1px solid #e2e8f0;
}

/* TEXTO INPUT */
ion-input {
  --color: #1e293b;
}

/* LISTA */
.custom-list {
  background: transparent;
}

/* ITEM */
.list-item {
  --background: #f8fafc;

  border-radius: 12px;
  margin-bottom: 10px;

  border: 1px solid #e2e8f0;
}

/* TEXTO */
.list-item h2 {
  font-size: 15px;
  font-weight: 600;
  color: #1e293b;
}

.list-item p {
  font-size: 13px;
  color: #64748b;
}

/* EFECTO HOVER */
.list-item:active {
  transform: scale(0.98);
  --background: #e2e8f0;
}